body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

p {
    margin-top: 20px;
    font-size: 20px;
}